body{
    background-color: blue;
}

h3{
    text-align: center;
    color: white;
}

@media screen and (max-width: 900px) {
    body{
        background-color: purple;
    }
    h3{
        text-align: center;
        color: black
    }
}